NET "play_row_1<0>" LOC = P120 | IOSTANDARD = LVTTL;
NET "play_row_1<1>" LOC = P118 | IOSTANDARD = LVTTL;
NET "play_row_1<2>" LOC = P116 | IOSTANDARD = LVTTL;
NET "play_row_1<3>" LOC = P114 | IOSTANDARD = LVTTL;
NET "play_row_1<4>" LOC = P111 | IOSTANDARD = LVTTL;
NET "play_row_1<5>" LOC = P80 | IOSTANDARD = LVTTL;
NET "play_row_1<6>" LOC = P78 | IOSTANDARD = LVTTL;
NET "play_row_1<7>" LOC = P74 | IOSTANDARD = LVTTL;
NET "play_row_1<8>" LOC = P66 | IOSTANDARD = LVTTL;
NET "play_row_1<9>" LOC = P57 | IOSTANDARD = LVTTL;



NET "score_rows_1<0>" LOC = P58 | IOSTANDARD = LVTTL;
NET "score_rows_1<1>" LOC = P67 | IOSTANDARD = LVTTL;
NET "score_rows_1<2>" LOC = P75 | IOSTANDARD = LVTTL;



NET "btn1" LOC = P121 | IOSTANDARD = LVTTL | PULLUP;
NET "btn2" LOC = P119 | IOSTANDARD = LVTTL | PULLUP;
NET "btn3" LOC = P117 | IOSTANDARD = LVTTL | PULLUP;
NET "btn4" LOC = P115 | IOSTANDARD = LVTTL | PULLUP;
NET "btn5" LOC = P112 | IOSTANDARD = LVTTL | PULLUP;
NET "btn9" LOC = P | IOSTANDARD = LVTTL | PULLUP;
NET "btn10" LOC = P | IOSTANDARD = LVTTL | PULLUP;


#NET "playerr<0>" LOC = P | IOSTANDARD = LVTTL;
#NET "playerr<1>" LOC = P | IOSTANDARD = LVTTL;


